<!DOCTYPE html>
<html lang="en">
<head>
<title>Terms and Conditions</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> 
addEventListener("load", function() {
		setTimeout(hideURLbar, 0);
	}, false);
	function hideURLbar(){
		window.scrollTo(0,1);
		} 
	</script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Owl-carousel-CSS --><link href="css/owl.carousel.css" rel="stylesheet"/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"/> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,900" rel="stylesheet"/>
</head>
	
<body>
<!-- banner -->
<div class="main_section_agile" id="navi">
			<div class="agileits_w3layouts_banner_nav">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<img src="images/mjlogo.png" style="display: inline !important;margin-top: -20%;margin-left: -50%;"></img>
					</div>
					<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li><a href="/" class="effect-3">Home</a></li>
								<li><a href="/" class="effect-3">Fixed Departures</a></li>
								<li><a href="/" class="effect-3">Customized</a></li>
								<li><a href="/" class="effect-3">Blog</a></li>
								<li class="active"><a href="/about" class="effect-3">About</a></li>
								<li><a href="/mail" class="effect-3">Mail Us</a></li>
							</ul>
						</nav>
	
					</div>
				</nav>	
			<div class="clearfix"> </div> 
		</div>
	</div>

<!-- /contact -->	
<div class="inner_main_agile_section">
	<div class="container">
			<h3 class="w3l_header w3_agileits_header"> Terms and <span>Conditions</span></h3>
			 <div class="contact-form agile_inner_grids">
					<div class="fields-grid">
					<div class="row">
						 <label>Terms and Conditions</label><br/>
						 <span>
		            1) Holiday/ Accident Insurance is not the liability of Mapping Journeys or any person/s representing mapping Journeys. Each adult will be asked to sign the liability waiver.<br/>

					2) Mapping Journeys program plans and itineraries are subject to change or adjustment based on a number of factors. These include, but are not limited to, route conditions, weather, terrain, and many other factors. Mapping Journeys has complete discretion to change plans to accommodate any of these or other factors, including discretion to change program schedule or itinerary, and change guides or staff, as necessary for the proper and safe conduct of the program. We reserve the right to cancel any program due to inadequate signups, weather or route conditions. The refund for the same shall be payable with respect to the given refund norms.<br/>
					
					3) All our explorations are nature-friendly. Smoking and consumption of alcohol is allowed/disallowed depending upon the type of event/services<br/>
					
					4) Mapping Journeys is not liable in any way whatsoever for any injury or loss (including any indirect or consequential loss) of any kind, to any person or property, suffered by any participant whether by reason of any act or omission, deliberate or negligent, of Mapping Journeys including injury or loss incurred whilst participating in any activity of Mapping Journeys or in any activity in which participants are invited to participate.<br/>
					
					5) In case of a participant turning later than the scheduled time for an event, we have the full authority to continue ahead without the participant and provide/not provide refund for the same.<br/>
					
					6)Please note that cancellation charges are calculated on the Total amount payable and not on the advance amount paid.<br/>
					
					7) Mapping Journeys allows transfer of the amount to any other scheduled events, valid upto 3 months from the date of cancellation. In such case only the refund amount as applicable by the refund/cancellation policy will be transferred to the next event.<br/>
					
					8) Participant needs to confirm about the seat availability before making any payments. All bookings done without confirmation, the amount for the same will be refunded deducting the transaction charges(if any) withing 7 working days of the completion of the event.<br/>
					
					9) Violation of any above-mentioned terms would lead to debarment from the exploration and we do not hold the responsibility for the safety of the person, thereafter. No refund would be provided for violation of the same.<br/>
					</span>
					</div>
					<br/>	 
					<br/>	
					<br/>	
					<div class="row"> 
						   <label>Cancellation Policy</label><br/>
						 <span>
						 Short Journeys (3 To 4 Days Events)<br/>
					For Cancellation, If you inform us,<br/>
					5+ days prior to any event – 20% of the total event costs would be deducted and rest would be refunded.<br/>
					3+ days prior to any event – 50% of the total event costs would be deducted and rest would be refunded.<br/>
					No refund would be provided before 2 days of the event.<br/>
					<br/>
					
					Long Journeys (4+ Days Events) :<br/>
					For Cancellation, If you inform us,<br/>
					15+ days prior to any event – 20% of the total event costs would be deducted and rest would be refunded.<br/>
					7+ days prior to any event – 50% of the total event costs would be deducted and rest would be refunded.<br/>
					No refund would be provided before 7 days of the event.<br/>
					<br/>
					
					
					One/Two Day Journeys:<br/>
					For Cancellation, If you inform us,<br/>
					10+ days prior to any event – 20% of the total event costs would be deducted and rest would be refunded.<br/>
					5+ days prior to any event – 40% of the total event costs would be deducted and rest would be refunded.<br/>
					3+ days prior to any event – 60% of the total event costs would be deducted and rest would be refunded.<br/>
					No refund would be provided before 2 days of the event.<br/>
					<br/>
					
					<strong>All refund process will be done within 7 WORKING DAYS after the completion of the event.</strong><br/>
					
					Mapping Journeys may change these policies anytime without prior notification.<br/>
					<br/>
					By registering for any Mapping Journeys event, the participant agrees to the terms and conditions and the cancellation policy mentioned above.<br/>
						  </span>
					</div>	
					<br/>	
					<br/>	
					<br/>	
					<div class="row">  
						   <label>What do we do?</label><br/>
						 <span>As our name suggests, we aim to map many journeys across various lands and let them be yours to explore.
						  Joining us, you can look forward to experiencing travel in its very raw, passionate form.</span>
					</div>	  
						<div class="clearfix"> </div>
					</div>
			</div>
    </div>
</div>
	<div class="footer">
	</div>
<!-- //footer -->
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });
			});
	</script>
</body>
</html>